
{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="../css/normalize.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static '/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static '/css/estilos_venta_auto.css' %}">
    {% comment %} <link rel="icon" href="../img/icon/icono_ws-transformed.ico"> {% endcomment %}
    <link rel="icon" href="{% static '/img/icon/icono_ws-transformed.ico' %}">
    <title>venta_auto</title>
</head>


    

<body>
    {% include 'shared/header.html' %}

    {% comment %} <section class="new_cars">
        <section class="container">
            <div class="title_container">
                <h2 class="title_new_auto">DESCUBRE LOS MÁS NUEVO</h2>
                <p id="new_cars_info">Encuentra tu próximo vehículo entre nuestras últimas incorporaciones. ¡Explora
                    ahora!</p>
            </div>
            <div class="car_cards_container">
                <article class="card">
                    <img class="img_at" src="{% static 'img/auto9.jpeg' %}" alt="auto nuevo 1" />
                    <div class="card_info">
                        <h5 class="card_title">Mercedes-Benz GLS</h5>
                        <div class="details">
                            <span class="car_price">$70000</span>
                            <a class="see_details" href="#">ver detalles</a>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </section> {% endcomment %}
    
    {% include 'shared/footer.html' %}
</body>
</html>